body {
  font-family: Arial, sans-serif;
  background: #fff8f0;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3.5rem;
}

.front-box P {
    font-size: 2rem;
}

.front-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.front-box img {
  width: 350px;
  margin-top: 20px;
  cursor: pointer;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  /* height: 120px; */
  object-fit: cover;
  border-radius: 8px;
}

.card button {
  margin-top: 10px;
  padding: 8px 12px;
  background: #ff6b00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background: #ff4500;
}

/* Cart Section */
.cart {
  margin-top: 40px;
  background: #fff3e0;
  padding: 15px;
  border-radius: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cart h2 {
  text-align: center;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.cart-items li button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.total {
  text-align: right;
  margin-top: 10px;
  font-weight: bold;
}

.place-order {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.place-order:hover {
  background: #45a049;
}
.Adv {
    text-align: center;
}


@media (max-width: 600px) {
  .product-card img {
    max-height: 150px;   /* mobile ke liye perfect */
  }
}


